<%-include('partials/header')%>
<%-include('partials/navbar')%>

<div class="container">
  <div class="row">
    <div class="row-mt-4">
      <h1 class="text-center">
        Nueva publicacion
      </h1>
    </div>
  </div>

  <div class="row col-md-5 mx-auto">
    <!-- Vinculado con admin.js DOM -->
    <form action="" id="nueva-publicacion">
      <div class="mb-3">
        <input type="text" class="form-control" id="titulo" placeholder="Titulo">
      </div>

      <!-- DETALLE -->
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="" id="detalle" style="height: 100px"></textarea>
        <label for="detalle">Detalle</label>
      </div>

      <!-- IMG-URL -->
      <div class="mb-3">
        <input type="text" class="form-control" id="img_url" placeholder="img_url">
      </div>


      <!-- FECHA -->
      <div class="mb-3">
        <input type="date" class="form-control" name="" id="fecha">
      </div>
      
      <!-- BTN GUARDAR -->
        <button type="submit" class="btn btn-primary btn-sm">
        Guardar
        </button>
    </form>
  </div>
</div>

<script src="/js/admin.js"></script>

<%-include('partials/footer')%>