<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> BLOG </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        body{
            display: grid;
            grid-template-rows: auto, auto, 1fr, auto ;
            gap: 0px 0px;
        }
    </style>

  </head>

  <body class="vh-100">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="row mt-4">
        <div class="col">
            <h1 class="text-center"> Blog Anime </h1>
        </div>
    </div>

    <div class="container mt-5 ">
        <div class="row">
            <div class="col d-flex flex-column gap-3">
                <% posts.forEach( posteo => { %>
                    <section class="d-flex gap-2">
                        <img src="<%= posteo.img_url %>" class="rounded" height="300" width="500" alt="">
                        <div class="textos d-flex flex-column justify-content-between">
                            <h5><%= posteo.titulo %></h5>
                            <p><%= posteo.detalle %></p>
                            <p><%= posteo.fecha_creacion %></p>
                        </div>
                    </section>
            <% }) %>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


    <footer class="bg-dark text-light">
        <p> &COPY; 2023 DERECHOS DE AUTOR </p>
    </footer>
  </body>
</html>